
<h3>{{name}}</h3>
<h3>{{price | currency}}</h3>

<button class="btn btn-info" (click)="isHide = !isHide">Change kebab</button>
<button class="btn btn-danger" (click)="removeKebab(id)" [routerLink]="'/kebabs'">Remove kebab</button>
<div [@divTrigger]="'show'" *ngIf="isHide">
  <input type="text" class="form-control" [(ngModel)]="name" placeholder="Назва кебабу" autofocus>
  <input type="text" class="form-control" [(ngModel)]="price" placeholder="Ціна кебабу">
  <button class="btn btn-success" (click)="changeKebab(id)">submit</button>

</div>
